// ==========================================================================
// Base styles
// ==========================================================================

html, 
body {
	height: 100%;
}
html {
	box-sizing: border-box;
}
// Inherit box sizing
// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*,
*:after,
*:before {
    box-sizing: inherit;
}
body {
    background: @body-bg;
}
.main {
	margin-top: @grid-section-padding;
    margin-bottom: @grid-section-padding;
}