// ==========================================================================
// Fontface
// ==========================================================================

@font-face {
	font-family: 'Circular';
	font-weight: normal;
	font-style: normal;
	src:url("../../assets/fonts/circular/circular-book.woff") format("woff"),
		url("../../assets/fonts/circular/circular-book.ttf") format("truetype");
}
@font-face {
	font-family: 'Circular';
	font-weight: normal;
	font-style: italic;
	src:url("../../assets/fonts/circular/circular-bookitalic.woff") format("woff"),
		url("../../assets/fonts/circular/circular-bookitalic.ttf") format("truetype");
}
@font-face {
	font-family: 'Circular';
	font-weight: 800;
	font-style: normal;
	src:url("../../assets/fonts/circular/circular-black.woff") format("woff"),
		url("../../assets/fonts/circular/circular-black.ttf") format("truetype");
}
@font-face {
	font-family: 'Circular';
	font-weight: 800;
	font-style: italic;
	src:url("../../assets/fonts/circular/circular-blackitalic.woff") format("woff"),
		url("../../assets/fonts/circular/circular-blackitalic.ttf") format("truetype");
}
@font-face {
	font-family: 'Circular';
	font-weight: bold;
	font-style: normal;
	src:url("../../assets/fonts/circular/circular-bold.woff") format("woff"),
		url("../../assets/fonts/circular/circular-bold.ttf") format("truetype");
}
@font-face {
	font-family: 'Circular';
	font-weight: bold;
	font-style: italic;
	src:url("../../assets/fonts/circular/circular-bolditalic.woff") format("woff"),
		url("../../assets/fonts/circular/circular-bolditalic.ttf") format("truetype");
}
@font-face {
	font-family: 'Circular';
	font-weight: 500;
	font-style: normal;
	src:url("../../assets/fonts/circular/circular-medium.woff") format("woff"),
		url("../../assets/fonts/circular/circular-medium.ttf") format("truetype");
}
@font-face {
	font-family: 'Circular';
	font-weight: 500;
	font-style: italic;
	src:url("../../assets/fonts/circular/circular-mediumitalic.woff") format("woff"),
		url("../../assets/fonts/circular/circular-mediumitalic.ttf") format("truetype");
}