// ==========================================================================
// List styles
// ==========================================================================

// Remove default styling
ul, 
ol {
	list-style-type: none;
}
ul,
ul li,
ol,
ol li {
    margin: 0;
    padding: 0;
}

// Basic lists
ul.list, 
ol.list {
    margin: 0 0 @grid-section-padding;
    padding: 0 0 0 (@line-height-computed + (@grid-section-padding / 4));

    li {
    	margin-top: (@grid-section-padding / 2);
    	padding-left: (@grid-section-padding / 4);

    	&:first-child {
			margin-top: 0;
		}
    }
}
ul.list {
	list-style-type: disc;
}
ol.list {
	list-style-type: decimal;
}

// Fancy lists
ul.list--fancy,
ol.list--fancy {
	padding: 0;
	list-style: none;

	li {
		position: relative;
		min-height: @line-height-computed;
		padding-left: (@line-height-computed + (@grid-section-padding / 2));

		&:before {
			position: absolute;
			top: 0;
			left: 0;
			background: @list-fancy-bg;
			border-radius: 100%;
		}
		
	}
}

// Fancy styled ordered list
ul.list--fancy li:before {
	content: "";
	height: (@line-height-computed / 4);
	width: (@line-height-computed / 4);
	margin: (@line-height-computed / 3) 0 0 (@line-height-computed / 3);
}

// Fancy styled ordered list
ol.list--fancy {
	counter-reset: counter;

	li:before {
		content: counter(counter);
    	counter-increment: counter;

    	line-height: @line-height-computed;
		height: @line-height-computed;
		width: @line-height-computed;
		
		color: @list-fancy-color;
		text-align: center;
		font-weight: 600;
		.font-smoothing(on);
	}	
}

// Data lists 
dl {
	margin: 0 0 @grid-section-padding;

	dd,
	dt {
		margin: 0;
	}
	dt {
		margin-top: (@grid-section-padding / 2);
		font-weight: @list-data-header-font-weight;
		color: @list-data-header-color;

		&:first-child {
			margin-top: 0;
		}
	}
}