// ==========================================================================
// Buttons
// ==========================================================================

// Mixin for button styles
.btn-styles(@background-color) {
	background-color: @background-color;
    
    &:hover,
	&:focus,
	&.hover,
	&.focus {
		background-color: darken(@background-color, 2%);
	}
}
.btn {  
	// Layout
    position: relative;
	display: inline-block;
	padding: @padding-base-vertical + 1 floor(@padding-base-horizontal * 1.5);
	cursor: pointer;
	vertical-align: middle;

    // Type
    font-family: @button-font-family;
    .font-size(@font-size-base);
    line-height: @line-height-base;
    color: @button-color;
	text-align: center;
	font-weight: @button-font-weight;
	user-select: none;
	text-shadow: 0 1px 1px rgba(0,0,0, .1);
	.font-smoothing(on);
	text-decoration: none;
	
	// Mixins
	transition: background .3s ease, border .3s ease;
	border-radius: @button-radius;
			
	// Default
	border: 0;
	box-shadow: 0 1px 1px rgba(0,0,0, .15);

	// Default button style
	.btn-styles(@button-default-bg);

	// Variants
	// --------------------------------------------------
	&--primary {
		.btn-styles(@button-primary-bg);
	}
	&--secondary {
		.btn-styles(@button-secondary-bg);
	}

	// Externals
	// --------------------------------------------------
	&--facebook {
		.btn-styles(@color-facebook);
	}
	&--twitter {
		.btn-styles(@color-twitter);
	}
	&--pinterest {
		.btn-styles(@color-pinterest);
	}
	&--google-plus {
		.btn-styles(@color-google-plus);
	}
	&--dribbble {
		.btn-styles(@color-dribbble);
	}

	// Sizes
	// --------------------------------------------------
	&--small {
	    padding: @padding-small-vertical + 1 (@padding-small-horizontal * 1.5);
	    .font-size(@font-size-small);
	}
	
	// States
	// --------------------------------------------------
	&:hover,
	&:focus,
	&.hover,
	&.focus {
	    color: #fff;
	}
	&:focus,
	&.focus  {
		outline: none;
	}
	&:active,
	&.active {
		top: 1px;
		box-shadow: inset 0 1px 3px rgba(0,0,0, .3);
	}
	// Disabled
	&[disabled] {
		pointer-events: none;
		opacity: .5;
	}
	
	// Loading
	&.loading {
	    cursor: default;
	    pointer-events: none;
	    color: transparent;
	    text-shadow: none;
	}

	// Icons
	// --------------------------------------------------
	.icon {
		position: relative;
	    top: .15em;
	    width: 1em;
	    height: 1em;
	}
	.icon--first {
		left: -5px;
		margin-right: 4px;
	}
	.icon--last {
		right: -5px;
		margin-left: 4px;
	}
	&--small .icon--first {
		left: -2px;
	}
	&--small .icon--last {
		right: -2px;
	}
}

// Button counter
// ---------------------------------------------
.counter {
	margin-left: (@button-counter-arrow-size * 2);
    position: relative;
	.arrow(left, @button-counter-bg, @button-counter-arrow-size);
	display: inline-block;
	vertical-align: middle;
	padding: @padding-base-vertical + 2 ceil(@padding-base-horizontal * 1.2);
	
	background: @button-counter-bg;
	border-radius: @button-radius;

	font-weight: 600;
	.font-smoothing(on);
	color: @button-counter-color;
}
.btn--small + .counter {
	padding: @padding-small-vertical + 2 ceil(@padding-small-horizontal * 1.2);
	.font-size(@font-size-small);
}

// Style <button> elements to look like anchors
// --------------------------------------------------
button.faux-anchor {
    margin: 0;
    padding: 0;
    width: auto;
    border: 0;
    background: transparent;
    vertical-align: baseline;
    text-align: left;
    font: inherit;
    line-height: inherit;
    cursor: pointer;
    user-select: text;
}

// Focus styles
// --------------------------------------------------
button:focus, 
.btn:focus,
.btn.focus {
    .tab-focus();
}

// Action blocks
// --------------------------------------------------
.actions {
    font-size: 0;

    > * {
    	.font-size(@font-size-base);
    }
    .btn {
        display: block;
        width: 100%;
        margin: @grid-section-padding / 2 0 0;   
        
        &--small {
            .font-size(@font-size-small);
        }
        &:first-child {
            margin: 0;
        }
    }
    .btn--with-counter {
    	display: inline-block;
    	width: auto;
    	margin-top: 0;

    	& ~ .btn--with-counter {
    		margin: 0 0 0 (@grid-section-padding / 2);
    	}
    }
    @media (max-width : @screen-xs) {
        .pull-left,
        .pull-right {
            float: none;
        }
    }
    @media (min-width : @screen-xs) {
        .btn {
            display: inline-block; 
            width: auto;
            margin: 0;
        }
        .btn ~ .btn {
            margin: 0 0 0 @grid-section-padding;
            
            &.pull-left,
            &.pull-right {
                margin: 0;   
            }
        }
    }
}