// ==========================================================================
// Navigation styles
// ==========================================================================

// Defaults
// Used for .nav-bar and .nav-tabs (tabs.less)
.nav {
    font-size: 0;

    > * {
        .font-size(@font-size-base);
    }
    > li {
        display: inline-block;
        margin: 0 (@grid-section-padding / 2) 0 0;
        padding: 0;

        &:first-child {
            margin-left: (@grid-section-padding / 2);
        }
        &:last-child {
            margin-right: 0;
        }
        > a,
        > .faux-anchor {
            display: block;
            text-decoration: none;
            transition: background .3s ease, color .3s ease, border .3s ease;
        }
    }
}

// Navigation bar
.nav-bar {
    position: relative;
    padding-top: (@grid-section-padding / 2);
    padding-bottom: (@grid-section-padding / 2);
    border-bottom: 2px solid @section-border-color;
    
    .logo,
    .nav {
        text-align: center;
        
        @media (min-width : @screen-sm) {
            display: inline-block;
            vertical-align: middle;
            text-align: left;
        }
    }
    .logo {
        margin-bottom: (@grid-section-padding / 2);

        @media (min-width : @screen-sm) {
            margin-right: (@grid-section-padding * 2);
            margin-bottom: 0;
        }
    }
    .nav > li {
        margin-top: (@grid-section-padding / 2);
        margin-bottom: (@grid-section-padding / 2);

        &:first-child {
            margin-left: 0;
        }
        > a,
        > .faux-anchor {
            padding: (@grid-section-padding / 4) (@grid-section-padding / 2);
            border-radius: @navbar-link-radius;

            &:hover,
            &:focus {
                background: @navbar-link-hover-bg;
                color: @navbar-link-hover-color;
            }
        }
        &.active > a,
        &.open > .faux-anchor {
            background: @navbar-link-active-bg;
            color: @navbar-link-active-color;
        }
        &.dropdown--user {
            margin-top: 0;
            margin-bottom: 0;

            .dropdown__toggle {
                padding-left: (@grid-section-padding / 4);
                padding-right: (@grid-section-padding / 4);

                &--caret-after {
                    padding-right: (@grid-section-padding / 2);
                }
                &--caret-before {
                    padding-left: (@grid-section-padding / 2);
                }
            }
            .avatar {
                vertical-align: middle;
                max-width: 40px;
                max-height: 40px;
                border-radius: @avatar-radius;
            }
        }
    }
    .nav--right {
        float: right;
    }
}