// ==========================================================================
// Navigation styles
// ==========================================================================

// Defaults
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

// Common
.nav-bar ul,
.nav-tabs ul {
    font-size: 0;

    > * {
        .font-size(@font-size-base);
    }
    li {
        display: inline-block;
        margin-left: (@grid-section-padding / 2);
    }
    a {
        display: block;
        transition: background .3s ease, color .3s ease, border .3s ease;
    }
}

// Navigation bar
.nav-bar {
    position: relative;
    padding-top: @grid-section-padding;
    padding-bottom: @grid-section-padding;
    border: 1px solid @section-border-color;
    border-width: 2px 0;

    .logo,
    ul {
        display: inline-block;
        vertical-align: middle;
    }
    .logo {
        margin-right: (@grid-section-padding * 2);
    }
    li:first-child {
        margin-left: 0;
    }
    a {
        padding: (@grid-section-padding / 4) (@grid-section-padding / 2);
        border-radius: @btn-radius;

        &:hover,
        &:focus {
            background: @navbar-link-hover-bg;
            color: @navbar-link-hover-color;
        }
    }
    .active a {
        background: @navbar-link-active-bg;
        color: @navbar-link-active-color;
        .font-smoothing(on);
        font-weight: @btn-font-weight;
    }
}
.nav-tabs {
    border-bottom: 2px solid @section-border-color;
    padding-top: (@grid-section-padding / 2);
    white-space: nowrap;

    li {
        margin-bottom: -2px;
    }
    a {
        padding: (@grid-section-padding / 2) @grid-section-padding;
        border: 2px solid @section-border-color;
        border-bottom: 0;
        border-radius: @btn-radius @btn-radius 0 0;

        &:hover,
        &:focus {
            color: @tab-hover-color;
        }
    }
    .active a {
        background: @body-bg;
        position: relative;
        z-index: 2;
    }
}
.tab-pane {
    display: none;

    &.active {
        display: block;
    }
}